<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.linnap.routereplay"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="RouteReplay">
        <activity android:name=".ChooseReplayActivity" android:label="RouteReplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ReplayInfoActivity" android:label="Replay Info" />
        <activity android:name=".ReplayMapMovementActivity" android:label="GPS Trace Replay" />
        
        <receiver android:name=".oldrecording.AlarmReceiver"></receiver>
        
        <uses-library android:name="com.google.android.maps" />
    </application>
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>